@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.rbc-calendar {
  min-height: 600px;
}

.dark .rbc-calendar {
  background: rgb(30, 41, 59);
  color: white;
}

.dark .rbc-toolbar button {
  color: white;
}

.dark .rbc-header {
  background: rgb(51, 65, 85);
  color: white;
}

.dark .rbc-off-range-bg {
  background: rgb(30, 41, 59);
}

.dark .rbc-today {
  background: rgb(51, 65, 85);
}